@media only screen and (max-width: 768px) {

	.endQuestionPage {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		background: #000000;

		.mainDiv {
			position: relative;
			width: 100%;
			height: 100vh;

			.mob {
				position: relative;
				top: 12vh;
				left: 10%;
				width: 25%;
			}

			.whereText {
				position: relative;
				width: 20%;
				left: -12.5%;
				top: 17%;
			}

			.title {
				width: 90%;
				left: 5%;
				position: relative;
				top: 20%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 9vw;
				line-height: 70%;
				text-align: center;
				color: #FFFFFF;
			}
	
			.underTitle {
				position: relative;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				color: #626574;
			}

			.backBtn {
				position: absolute;
				width: 70%;
				bottom: 15vh;
				left: 15%;
			}
		}
	
		.statsDiv {
			top: 60%;
			position: absolute;
			display: block;
			width: 100%;
			height: 20vh;
		

			.stats {
				left: 30%;
				top: -18%;
				position: absolute;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 17px;
				text-align: center;
				color: #626574;
			}
		
			.pinkGradient {
				left: 17%;
				top: 0;
				position: absolute;
				top: 5%;
				width: 64%;
			}
		
			.correctly {
				left: -3%;
				top: 11%;
				margin: 0 auto;
				position: relative;
				display: block;
				width: 40%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 4vw;
				line-height: 16px;
				text-align: center;
				color: #FFFFFF;
			}
			
			.uncorrect {
				margin: 0 25%;
			}
		
			.correctlyValue {
				left: 2%;
				top: 15%;
				margin: 0 auto;
				position: relative;
				display: block;
				width: 40%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 6vw;
				line-height: 27px;
				text-align: center;
			}
		
			.correctValue {
				color: #836DC9;
			}
			
			.uncorrectValue {
				margin: 0 50%;
				color: #C96D8E;
			}
		}
	}
}