@media only screen and (max-width: 768px) {
	.titleComponent {
		display: block;
		height: 9vh;
		margin-bottom: 1.5vh;
		

		.componentTitle {
			height: 80%;
			display: block;
			top: 40%;
			max-width: 100%;
			position: relative;
			font-family: 'Karton2';
			font-style: normal;
			font-weight: 400;
			font-size: 8vw;
			line-height: 100%;
			text-align: center;
			color: #FFFFFF;
			z-index: 1;
		}

		em {
			position: relative;
			top: -1.5vh;
			margin-top: -5vh;
			font-family: 'Karton2';
			font-style: normal;
			font-weight: 400;
			font-size: 4vw;
			line-height: 18px;
			color: #626574;
			z-index: 1;
		}

		.background {
			position: relative;
			top: -55%;
			left: 0;
			width: 90%;
			height: 100%;
			z-index: 0;
		}

		.imageComp {
			position: relative;
			z-index: 1;
			display: block;
			width: 10%;
			top: -12vh;
			left: 11%;
		}

		.arrow {
			display: block;
			position: relative;
			width: 2.5%;
			z-index: 2;
			bottom: -8vh;
			left: 88%;
		}

	}
}
