@media only screen and (max-width: 768px) {

	.coinsDone {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		background: #000000;

		.titleCoin {
			top: 12vh;
			position: relative;
			width: 28vw;
		}

		.title {
			width: 90%;
			left: 5%;
			position: relative;
			top: 10%;
			font-family: 'Karton2';
			font-style: normal;
			font-weight: 400;
			font-size: 9vw;
			line-height: 70%;
			text-align: center;
			color: #FFFFFF;
		}

		.underTitle {
			position: relative;
			font-family: 'Karton2';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			color: #626574;
		}

		.titleComponent {
			top: 8%;
			width: 100%;
			height: 8vh;
			position: relative;
			display: block;
			height: 8vh;
			

			.componentTitle {
				position: absolute;
				top: 0.5vh;
				left: 38%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 6vw;
				line-height: 90%;
				text-align: center;
				color: #FFFFFF;
				z-index: 1;
			}

			#span-one {
				position: absolute;
				top: 0.8vh;
				left: 38%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 5vw;
				line-height: 95%;
				text-align: center;
				color: #FFFFFF;
				z-index: 1;
			}
			#span-two {
				position: absolute;
				top: 1.6vh;
				left: 33%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 6vw;
				line-height: 95%;
				text-align: center;
				color: #FFFFFF;
				z-index: 1;
			}
			#span-three {
				position: absolute;
				top: 1vh;
				left: 28%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 5vw;
				line-height: 95%;
				text-align: center;
				color: #FFFFFF;
				z-index: 1;
			}
			#span-four {
				position: absolute;
				top: 1.5vh;
				left: 28%;
				font-family: 'Karton2';
				font-style: normal;
				font-weight: 400;
				font-size: 6.5vw;
				line-height: 95%;
				text-align: center;
				color: #FFFFFF;
				z-index: 1;
			}

			.background {
				position: absolute;
				top: 0;
				left: 5%;
				height: 80%;
			}

			.imageComp {
				display: block;
				position: absolute;
				z-index: 1;
				width: 7%;
				top: 22%;
				left: 11%;
			}

			#rewardImg {
				top: 12%;
			}

			.arrow {
				display: block;
				position: absolute;
				width: 2.5%;
				top: 25%;
				z-index: 2;
				left: 88%;
			}
		}
	}
}