@media only screen and (max-width: 768px) {

	@mixin schoolFloorPage {
		height: 9vh;
		width: 20%;
	}

	.schoolFloorPage {
		position: absolute;
		top: 0;
		left: 0;
		width: 200vw;
		height: 200vh;
		text-align: center;
		background: #282B39;
		overflow: hidden;


		.upperPanel {
			position: fixed;
			width: 50%;
			left: 0;
			top: 0;
			z-index: 1;
		}

		.title {
			width: 20%;
			position: fixed;
			left: 15%;
			top: 54%;
			z-index: 2;
		}

		
		.fullFloor {
			width: 110%;
			height: 46%;
			position: absolute;
			left: 0%;
			bottom: 0;
		}

		#btnOne{
			@include schoolFloorPage;
			position: absolute;
			left: 14%;
			bottom: 10%;
		}
		#btnTwo{
			@include schoolFloorPage;
			position: absolute;
			left: 32%;
			bottom: 14%;
		}
		#btnThree{
			@include schoolFloorPage;
			position: absolute;
			left: 62%;
			bottom: 23%;
		}
		#btnFour{
			@include schoolFloorPage;
			position: absolute;
			left: 79%;
			bottom: 27%;
		}	


		.slideRight {
			width: 8.5%;
			position: absolute;
			left: 38%;
			bottom: 2%;
		}

		.slideLeft {
			width: 8.5%;
			position: absolute;
			left: 88%;
			bottom: 15%;
		}

		.bottom {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.right {
			position: absolute;
			right: 0;
			top: 37%;
		}
	}
}