@media only screen and (max-width: 768px) {
	body {
		overflow: hidden;
	}
}

html {
	background-color: black;
	overflow: hidden;
}

.nextBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
}






